@page
@model AdminModel
@{
    ViewData["Title"] = "Time Clock Add User";
}

<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" asp-page="/admin">Admin Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-page="/add-user">Add User</a>
        </li>
    </ul>
    <div class="card" style="width: 100%;" >
        <h3 style="text-align: left; padding: 5px;">Add a New User</h3>
        <hr>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName">
                    </div>
                    <div class="form-group col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                    <label for="inputCity">Extension</label>
                    <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                    <label for="inputState">Admin</label>
                    <select id="inputState" class="form-control">
                        <option selected>No</option>
                        <option>Yes</option>
                    </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Add User</button>
            </form>
        </div>
    </div>
    <ul class="nav" style="float: right;">
        <li class="nav-item">
            <a class="nav-link" asp-page="/Index">Back to Time Clock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
        </li>
    </ul>
</div>