@page
@model AdminModel
@{
    ViewData["Title"] = "Time Clock Add User";
}

<div class="card" style="max-width: 960px; margin: auto;" >
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" aria-describedby="nameHelp">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" aria-describedby="nameHelp">
            </div>
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
            </div>
            <div class="form-group" style="width: 50%;">
                <label for="extension">Extension</label>
                <input type="text" class="form-control" id="extension">
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" class="form-control" id="password1">
            </div>
            Admin?
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="yes" value="Yes" checked>
                <label class="form-check-label" for="yes">
                    Yes
                </label>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="no" value="No">
                <label class="form-check-label" for="no">
                    No
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Add User</button>
        </form>
    </div>
</div>
