@page
@{
    ViewData["Title"] = "Time Clock Admin";
}

<div>
    <ul class="nav nav-tabs" style="float: left;">
        <li class="nav-item">
            <a class="nav-link active" asp-page="/admin">Admin Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="./Index/Index">Users</a>
        </li>
    </ul>
    <div class="card" style="width: 100%;">
        <h3 style="text-align: left; padding: 5px;">Time Clock Admin</h3>
        <hr>
        <div class="card-body">
            <a class="card-link" style="text-align: left;" asp-page="./Index/Index">Time Clock Users</a>
            <p class="card-text">Using this tool you can view and change information on Time Clock users.</p>
            <a href="#" class="card-link" style="text-align: left;">Payroll Reports</a>
            <p class="card-text">Using this tool you can easily run payroll reports for Time Clock users.</p>
        </div>
    </div>
    <ul class="nav" style="float: right;">
        <li class="nav-item">
            <a class="nav-link" asp-page="">Back to Time Clock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
        </li>
    </ul>
</div>
